* {
    color: white;
}

body {
    background-color: #4d4d4d;
}

.justify-content{
    justify-content: center;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}

.width-33 {
    width: 33%;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 0.73%;
}

a {
    text-decoration: none;
}

.float-right {
    float: right;
}

a:hover {
    color: magenta;
}

button {
    height: 25px;
    background-color:darkred;
    border: none;
    border-radius: 5px;
}