.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 40%;
}

img {
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.text-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.5);
    width: 100%;
    height: 15%;
}

.text {
    color: white;
}