body {
    overflow-y: scroll;
}

#container {
    display: flex;
}

#bluebox {
    display: flex;
    background-color: blue;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

#greenbox {
    background-color: green;
    width: 300px;
    height: 200px;
}

#yellowbox {
    position: absolute;
    background-color: yellow;
    width: 100px;
    height: 100px;
}

#redbox {
    position: absolute;
    left: 110px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
    width: 100px;
    height: 100px;
}

.text {
    color: white;
}